<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${oneMovie.getTitle()}"></title>
</head>
<body>
   <div style="text-align: center;">
        <h1 th:text="${oneMovie.getTitle()}"> </h1>
            <br/>
        <span th:text="${oneMovie.getLongDescription()}"></span>
            <br/>
       <i th:text="${oneMovie.getYear()}"></i>
       <strong th:text="${oneMovie.getAuthor().getBirthday()}"></strong>

       <ul>
           <li th:each="comment : ${oneMovie.getComments()}" th:text="${comment.getComment() + ' |  ' + comment.getCreationTime() + ' ' + comment.getUser().getLogin()}"></li>
       </ul>

       <form th:action="'/comment/add/' + ${oneMovie.getId()}" method="post">
           Treść: <input type="text" name="comment"> <br/>
           <input type="submit" value="dodaj">
       </form>
   </div>


</body>
</html>