<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center;">
        <strong th:text="'Jesteś zalogowany? :' + ${userSession.isLogin()}"></strong>
        <table>
            <tr>
                <th>Tytuł</th>
                <th>Krótki opis</th>
                <th>Typ</th>
            </tr>

            <tr th:each="movie : ${movies}">
                <td>
                    <a th:href="'/movie/' + ${movie.getId()}"
                       th:text="${movie.getTitle()}">
                    </a>
                </td>
                <td th:text="${movie.getShortDescription()}"></td>
                <td th:text="${movie.getType()}"></td>
            </tr>
        </table>
    </div>
    </br>

    <a th:href="'/login'"><input type="submit" value="Zaloguj się"></a>
    </br>
    <a th:href="'/account'"><input type="submit" value="Zarejestruj się"></a>
    </br>

    <a th:href="'/admin/add'"><input type="submit" value="Doda film(dla admina)"></a></br>



</body>
</html>